@{
    Layout = null;
}W

<a href="~/lib/bootstrap/dist/css/bootstrap.css.map">~/lib/bootstrap/dist/css/bootstrap.css.map</a>
<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map">~/lib/bootstrap/dist/css/bootstrap.min.css.map</a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<

<div class="container">
    <br />
    <h3>
        <strong>Plan Adı: @ViewBag.v1</strong>
    </h3><h3>
        <strong>Kişi Sayısı: @ViewBag.v3</strong>
    </h3><h3>
        <strong>Fiyat: @ViewBag.v4</strong>
    </h3><h3>
        <strong>Plan İçeriği:  @ViewBag.v5</strong>
    </h3><h3>
        <strong>Çözünrülük @ViewBag.v6</strong>
    </h3>
    <a href="/BasicPlan/StandartPlanIndex" class="btn btn-success">Temel Plan</a>
    <a href="/Default/UltraPlanIndex" class="btn btn-dark">Ultra Plan</a>

</div>